.button {
  all: unset;
  align-items: flex-start;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  position: relative;
}

.button .text-wrapper {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button.disabled {
  opacity: 0.55;
}

.button.m {
  padding: 10px 16px;
}

.button.outline {
  border: 1px solid;
}

.button.l {
  padding: 16px 24px;
}

.button.s {
  padding: 8px 12px;
}

.button.disabled.outline {
  background-color: var(--defaultwhite);
}

.button.hovered.info {
  background-color: var(--cyan-700);
}

.button.hovered.danger {
  background-color: var(--red-600);
}

.button.enabled.outline {
  background-color: var(--defaultwhite);
}

.button.success.hovered {
  background-color: var(--green-600);
}

.button.hovered.warning {
  background-color: var(--yellow-700);
}

.button.fill.disabled.warning {
  background-color: var(--status-color-warning);
}

.button.fill.danger.enabled {
  background-color: var(--status-color-danger);
}

.button.success.soft.disabled {
  background-color: var(--green-100);
}

.button.success.disabled.outline {
  border-color: var(--status-color-success);
}

.button.secondary.outline.enabled {
  border-color: var(--secondarycolor);
}

.button.success.soft.enabled {
  background-color: var(--green-100);
}

.button.fill.danger.disabled {
  background-color: var(--status-color-danger);
}

.button.fill.primary.enabled {
  background-color: var(--primarycolor);
}

.button.secondary.fill.enabled {
  background-color: var(--secondarycolor);
}

.button.fill.warning.enabled {
  background-color: var(--status-color-warning);
}

.button.soft.disabled.primary {
  background-color: var(--primarylight);
}

.button.outline.disabled.info {
  border-color: var(--status-color-info);
}

.button.success.fill.enabled {
  background-color: var(--status-color-success);
}

.button.soft.danger.disabled {
  background-color: var(--red-100);
}

.button.soft.warning.enabled {
  background-color: var(--yellow-100);
}

.button.outline.hovered.info {
  border-color: var(--cyan-700);
}

.button.soft.disabled.warning {
  background-color: var(--yellow-100);
}

.button.secondary.disabled.soft {
  background-color: var(--gray-200);
}

.button.soft.danger.enabled {
  background-color: var(--red-100);
}

.button.success.fill.disabled {
  background-color: var(--status-color-success);
}

.button.enabled.danger.outline {
  border-color: var(--status-color-danger);
}

.button.enabled.outline.info {
  border-color: var(--status-color-info);
}

.button.secondary.fill.hovered {
  background-color: var(--secondarydark-color);
}

.button.enabled.outline.warning {
  border-color: var(--status-color-warning);
}

.button.info.soft.enabled {
  background-color: var(--cyan-100);
}

.button.hovered.danger.outline {
  border-color: var(--red-600);
}

.button.soft.disabled.info {
  background-color: var(--cyan-100);
}

.button.secondary.fill.disabled {
  background-color: var(--secondarycolor);
}

.button.fill.disabled.primary {
  background-color: var(--primarycolor);
}

.button.secondary.disabled.outline {
  border-color: var(--secondarycolor);
}

.button.outline.disabled.warning {
  border-color: var(--status-color-warning);
}

.button.fill.hovered.primary {
  background-color: var(--primarycolor-dark);
}

.button.danger.disabled.outline {
  border-color: var(--status-color-danger);
}

.button.success.enabled.outline {
  border-color: var(--status-color-success);
}

.button.secondary.enabled.soft {
  background-color: var(--gray-200);
}

.button.success.hovered.outline {
  border-color: var(--green-600);
}

.button.fill.disabled.info {
  background-color: var(--status-color-info);
}

.button.primary.disabled.outline {
  border-color: var(--primarycolor);
}

.button.soft.hovered.primary {
  background-color: var(--primarycolor);
}

.button.secondary.hovered.soft {
  background-color: var(--gray-700);
}

.button.primary.outline.enabled {
  border-color: var(--primarycolor);
}

.button.soft.primary.enabled {
  background-color: var(--primarylight);
}

.button.info.fill.enabled {
  background-color: var(--status-color-info);
}

.button.outline.hovered.warning {
  border-color: var(--yellow-700);
}

.button.secondary.hovered.outline {
  background-color: var(--secondarydark-color);
  border-color: var(--secondarydark-color);
}

.button.primary.hovered.outline {
  background-color: var(--primarycolor-dark);
  border-color: var(--primarycolor-dark);
}

.button.m .text-wrapper {
  font-size: 16px;
  line-height: 18px;
}

.button.l .text-wrapper {
  font-size: 16px;
  line-height: 18px;
}

.button.s .text-wrapper {
  font-size: 14px;
  line-height: 16px;
}

.button.soft.hovered .text-wrapper {
  color: var(--defaultwhite);
}

.button.secondary.fill .text-wrapper {
  color: var(--defaultwhite);
}

.button.hovered.info .text-wrapper {
  color: var(--defaultwhite);
}

.button.fill.danger .text-wrapper {
  color: var(--defaultwhite);
}

.button.success.fill .text-wrapper {
  color: var(--defaultwhite);
}

.button.hovered.danger .text-wrapper {
  color: var(--defaultwhite);
}

.button.fill.primary .text-wrapper {
  color: var(--defaultwhite);
}

.button.fill.info .text-wrapper {
  color: var(--defaultwhite);
}

.button.primary.hovered .text-wrapper {
  color: var(--defaultwhite);
}

.button.fill.hovered .text-wrapper {
  color: var(--defaultwhite);
}

.button.success.hovered .text-wrapper {
  color: var(--defaultwhite);
}

.button.hovered.warning .text-wrapper {
  color: var(--defaultwhite);
}

.button.fill.disabled.warning .text-wrapper {
  color: var(--gray-900);
}

.button.success.soft.disabled .text-wrapper {
  color: var(--green-600);
}

.button.success.disabled.outline .text-wrapper {
  color: var(--status-color-success);
}

.button.secondary.outline.enabled .text-wrapper {
  color: var(--gray-600);
}

.button.success.soft.enabled .text-wrapper {
  color: var(--green-600);
}

.button.fill.warning.enabled .text-wrapper {
  color: var(--gray-900);
}

.button.soft.disabled.primary .text-wrapper {
  color: var(--indigo-500);
}

.button.outline.disabled.info .text-wrapper {
  color: var(--status-color-info);
}

.button.soft.danger.disabled .text-wrapper {
  color: var(--red-700);
}

.button.soft.warning.enabled .text-wrapper {
  color: var(--yellow-800);
}

.button.soft.disabled.warning .text-wrapper {
  color: var(--yellow-800);
}

.button.secondary.disabled.soft .text-wrapper {
  color: var(--gray-800);
}

.button.soft.danger.enabled .text-wrapper {
  color: var(--red-700);
}

.button.enabled.danger.outline .text-wrapper {
  color: var(--status-color-danger);
}

.button.enabled.outline.info .text-wrapper {
  color: var(--status-color-info);
}

.button.enabled.outline.warning .text-wrapper {
  color: var(--status-color-warning);
}

.button.info.soft.enabled .text-wrapper {
  color: var(--cyan-800);
}

.button.soft.disabled.info .text-wrapper {
  color: var(--cyan-800);
}

.button.secondary.disabled.outline .text-wrapper {
  color: var(--gray-600);
}

.button.outline.disabled.warning .text-wrapper {
  color: var(--status-color-warning);
}

.button.danger.disabled.outline .text-wrapper {
  color: var(--status-color-danger);
}

.button.success.enabled.outline .text-wrapper {
  color: var(--status-color-success);
}

.button.secondary.enabled.soft .text-wrapper {
  color: var(--gray-800);
}

.button.primary.disabled.outline .text-wrapper {
  color: var(--indigo-500);
}

.button.primary.outline.enabled .text-wrapper {
  color: var(--indigo-500);
}

.button.soft.primary.enabled .text-wrapper {
  color: var(--indigo-500);
}

.button.secondary.hovered.outline .text-wrapper {
  color: var(--gray-100);
}
