/*
Base layout styles for all pages. This file should be imported in the base layout file. Initialize Bootstrap.
**Note:** Due to the way the project is building the CSS files, everything must be imported here if you want to use it anywhere in the app.
 */
@import url('node_modules/bootstrap/dist/css/bootstrap.css');
@import url('node_modules/tailwindcss/tailwind.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap');

/*
App theme.
 */
:root {
  --secondary-50: #FFFCF5;
  --secondary-500: #FFC107;
  --neutral-900: #060718;
}

* {
  font-family: 'Inter', 'Arial', sans-serif;
  background: black;
}

