@import "../abstracts/variables";
@import "../abstracts/mixins";

/*
contact page layout
 */
.contact-section-landing {
  color: $neutral-900;
  background-color: $secondary-50;
  padding: 96px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media (max-width: $screen-md) {
    padding: 48px 40px;
    flex-direction: column;
  }
}

.contact-section-light-container {
  width: 50%;
  position: relative;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.contact-heading-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid $neutral-900;
}

.contact-sub-heading {
  @include h1-semi-bold;
  margin: 10px 0;

  @media (max-width: $screen-sm) {
    @include h1-small-semi-bold;
  }
}

.contact-underline-alt::after {
  border-bottom: 4px solid $neutral-50;
}

.contact-heading-section {
  color: $neutral-300;
  @include h1-section;
  margin: 0;
}

.contact-heading-section-alt {
  color: $secondary-500;
}

.contact-heading-section-sub {
  margin: 10px 0;
  @include h2-semi-bold;

  @media (max-width: $screen-sm) {
    @include h3-semi-bold;
  }
}

.contact-section-paragraph {
  @include subheading-regular;
  margin: 0;

  @media (max-width: $screen-sm) {
    @include p3-regular;
  }
}

.contact-section-paragraph-bold {
  @include subheading-bold;
}

.contact-light-section {
  padding: 7%;
  background-color: $secondary-50;

  @media (max-width: $screen-md) {
    padding: 16px;
  }
}

.contact-heading-container {
  position: relative;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.contact-section-dark {
  background-color: $neutral-900;
  color: $neutral-50;
}

.contact-dark-heading-container {
  position: relative;
}

.contact-section-mission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 192px 80px 192px 80px;

  @media (min-width: 1700px) {
    background-size: 40% 80%;
  }

  @media (max-width: $screen-lg) {
    //   background-image: none;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }
}

.mission-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  @media (max-width: $screen-lg) {
    width: auto;
    padding: 48px 40px 0 40px;
    margin: auto;
  }
}

.contactActionLinksAnchor {
  cursor: pointer;
  color: var(--secondary-secondary-500, #FFC107);
  // font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-decoration-line: underline;

}

.name-holder {
  display: flex;
}

.form-input {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-bottom: 20px;
  width: 100%;
}

.name-input {
  padding-right: 10px
}

.form-submit {
  border-radius: 6px;
  background: var(--primary-primary-500);
  //background: var(--primary-primary-500, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #245BFF);
  border: #245BFF;
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  max-width: 160px;
  color: var(--shade-white, #FFF);
  // font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
}

form {
  // overflow: hidden;
  // display: flex;
  // flex-wrap: wrap;
  width: 90vh;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px; /* Add padding to input fields for better visual appearance */
  margin-top: 5px; /* Adjust margin for better spacing */
  color: var(--shade-white, #FFF);
  // font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */

  background-color: rgba(255, 255, 255, 0); /* Adjust the alpha value as needed */
  border-radius: 4px;
  border: 1px solid var(--shade-white, #FFF);
  // align-self: stretch;
}

input::placeholder {
  color: var(--shade-white, #FFF); /* Set the desired placeholder text color */
  /* Paragraph/P1/Regular */
  // font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

label {
  margin-bottom: 5px; /* Add some space below labels */
}

#message {
  min-height: 10vh;
}