@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";

/*
FAQ page layout.
 */
.projects-section-light {
  color: $neutral-900;
  background-color: $secondary-50;
  padding: 96px 80px;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: $screen-lg) {
    padding: 48px 40px;
    flex-direction: column;
  }
}

.projects-section-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $screen-lg) {
    max-width: 50%;
  }
}

.projects-section-light-container {
  position: relative;
}

.projects-section-heading-underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid $neutral-900;
}

.projects-heading-section {
  color: $neutral-300;
  @include h1-section;
  margin: 0;
}

.projects-heading-section-alt {
  color: $secondary-500;
}

.projects-heading-section-sub {
  margin: 10px 0;
  max-width: 450px;
  @include h2-semi-bold;

  @media (max-width: $screen-sm) {
    @include h3-semi-bold;
  }
}

.projects-section-paragraph {
  @include p3-regular;
  margin: 0;

  @media (max-width: $screen-sm) {
    @include p2-regular;
  }
}

.meeting-card {
  border-top: 1px solid $neutral-500;
  border-bottom: 1px solid $neutral-500;

  ul {
    padding: 20px 0px;
    border-top: 1px solid $neutral-500;
    border-bottom: 1px solid $neutral-500;
    width: 100%;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      &:first-child {
        list-style-image: url('/img/meeting-card/calender.svg');
      }

      &:nth-child(2) {
        list-style-image: url('/img/meeting-card/clock.svg');
      }

      &:nth-child(3) {
        list-style-image: url('/img/meeting-card/document-txt.svg');
      }
    }
  }

  .meeting-card-container {
    display: flex;
    align-items: center;
    padding: 20px 0px;
  }

  .meeting-card-heading {
    @include p3-bold;
  }

  .meeting-card-list-item-text {
    @include p3-regular;
    position: relative;
    top: -5px;
  }

  .meeting-card-link {
    @include p3-semi-bold;
    color: $neutral-900;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  img {
    margin-left: 5px;
  }

  @media (min-width: $screen-xs) {
    .meeting-card-list-item-text {
      margin-left: 10px;
    }
  }

  @media (min-width: $screen-lg) {
    border: 1px solid $neutral-500;
    border-radius: 20px;
    min-width: 402px;
    max-width: 402px;

    .meeting-card-container,
    ul {
      padding: 20px 40px;
    }
  }
}

.projects-main {
  background-color: $secondary-50;
  padding-bottom: 50px;
  border-bottom: 1px solid $neutral-900;
}

.projects-container-margins {
  margin: 0 80px;

  @media (max-width: $screen-md) {
    margin: 0 40px;
  }
}

.projects-nav-light {
  color: $neutral-900;
  border: 1px solid $primary-500;
  border-left: none;
  border-right: none;
  margin: 0 80px;

  @media (max-width: $screen-md) {
    margin: 0 40px;
  }
}

.projects-nav {
  justify-content: left;
  padding: 20px;
}

.projects-nav a {
  @include nav-semi-bold;
  color: $primary-500;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  padding: 5px 0;

  @media (max-width: $screen-lg) {
    font-size: 16px;
  }

  @media (max-width: $screen-md) {
    display: block;
    font-size: 20px;
    width: 100%;
  }
}

.projects-container-margins h3 {
  @include h4-semi-bold;
  padding: 40px 0;
  margin-top: 40px;

  @media (max-width: $screen-md) {
    @include h5-semi-bold;
  }
}

.projects-container-margins h3:first-child {
  margin-top: 0;
}

.projects-container-margins h4 {
  @include h5-semi-bold;
  padding: 24px 0;

  @media (max-width: $screen-md) {
    font-size: 16px;
    font-weight: 700;
  }
}

.projects-question,
details {
  border-top: 1px solid $neutral-400;
  padding: 0 20px;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

.projects-question a,
details h4 {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.projects-question a::after,
details h4::after {
  content: "";
  flex-shrink: 0;
  margin-left: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 6.5V12.5M12 12.5V18.5M12 12.5H18M12 12.5H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  display: block;
  background-size: 24px;
  background-position: center;
  height: 44px;
  width: 44px;
  padding: 10px;
}

.projects-question.question-open a::after,
details[open] h4::after {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 12H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.question-text,
details p {
  @include p3-regular;
  max-width: 1060px;
  color: $neutral-900;
  margin: 0;
  padding-top: 0;
  padding-bottom: 20px;

  @media (max-width: $screen-md) {
    color: $neutral-800;
    @include p2-regular;
  }
}

.question-open .question-text {
  display: block;
}

/* ProjectCard Selectors */
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  width: 33%;
  min-width: 300px;
}

.project-card-img-container {
  position: relative;
  margin-bottom: -6px;
  width: 100%;
  padding-bottom: 75%;
}

.project-card-img-status {
  position: relative;
  text-align: center;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 85%;
  left: 8%;
  z-index: 1000;
}

.project-card-img {
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.project-card-tags {
  display: flex;
  flex-direction: row;
  margin-bottom: -6px;
}

.project-card-tag {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: $primary-500;
  color: white;
}

.project-card-heading {
  margin-bottom: -16px;

}

.project-card-last-updated {
  font-size: 14px;
  color: $neutral-700;
  margin-top: -8px;
  margin-bottom: -6px;
}

.project-card-buttons-container {
  width: fit-content;
  display: flex;
  gap: 20px;
}

.project-card-button-dark {
  color: $secondary-50;
  background-color: $primary-500;
  cursor: pointer;

  border: solid $primary-500 1px;
  border-radius: 6px;
  padding: 16px 24px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;

  @include button-regular;
  @include button-transition($vivid-blue, white);
}

.project-card-button-light {
  color: $primary-500;
  background-color: transparent;
  cursor: pointer;

  border: solid $primary-500 1px;
  border-radius: 6px;
  padding: 16px 24px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;

  @include button-regular;
  @include dark-button-transition;
}

.project-heading-section {
  color: $neutral-300;
  @include h1-section;
  margin: 0;
}

.project-heading-section-alt {
  color: $secondary-500;
}