@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";

/*
Projects page layout.
 */

.projects-section-light {
  color: $neutral-900;
  background-color: $secondary-50;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $screen-lg) {
    padding: 96px 80px;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
  }
}

.projects-section-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $screen-lg) {
    max-width: 50%;
  }
}

.projects-section-light-container {
  position: relative;
}

.projects-section-heading-underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid $neutral-900;
}

.projects-heading-section-sub {
  margin: 10px 0;
  max-width: 450px;
  @include h2-semi-bold;

  @media (max-width: $screen-sm) {
    @include h3-semi-bold;
  }
}

.projects-section-paragraph {
  @include p3-regular;
  margin: 0;

  @media (max-width: $screen-sm) {
    @include p2-regular;
  }
}

.meeting-card-container {
  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.meeting-card {
  border-top: 1px solid $neutral-500;
  border-bottom: 1px solid $neutral-500;

  ul {
    padding: 20px 10px;
    border-top: 1px solid $neutral-500;
    border-bottom: 1px solid $neutral-500;
    width: 100%;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      &:first-child {
        list-style-image: url('/img/meeting-card/calender.svg');
      }

      &:nth-child(2) {
        list-style-image: url('/img/meeting-card/clock.svg');
      }

      &:nth-child(3) {
        list-style-image: url('/img/meeting-card/document-txt.svg');
      }
    }
  }

  .meeting-card-section {
    display: flex;
    align-items: center;
    padding: 20px 10px;
  }

  .meeting-card-heading {
    @include p3-bold;
  }

  .meeting-card-list-item-text {
    margin-left: 10px;
    @include p3-regular;
    position: relative;
    top: -5px;
  }

  .meeting-card-link {
    @include p3-semi-bold;
    color: $neutral-900;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  img {
    margin-left: 5px;
  }

  @media (min-width: $screen-lg) {
    border: 1px solid $neutral-500;
    border-radius: 20px;
    min-width: 402px;

    .meeting-card-heading {
      max-width: 320px;
    }

    .meeting-card-section,
    ul {
      padding: 20px 40px;
    }
  }
}

.project-search-section {
  padding: 0px 24px 32px 24px;

  .project-search-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .project-search-row {
    position: relative;

    /* clears the ‘X’ from Internet Explorer */
    input[type=search]::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    input[type=search]::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    /* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    input {
      padding: 14px 16px;
    }

    input::placeholder {
      position: absolute;
    }

    img {
      width: 18px;
      height: 18px;
      position: absolute;
      right: 10px;
      bottom: 14px;
    }
  }

  .select-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;

    label {
      @include p1-bold;
      color: $primary-900;
    }

    select {
      margin-top: 4px;
      padding: 10px 16px;
      appearance: none;
      background-image: url('/img/form-element/chevron-down.svg');
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: right 10px top 50%;
    }
  }

  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  input,
  select {
    border: 1px solid $neutral-400;
    background: none;
  }

  input::placeholder,
  select {
    @include p2-regular;
    color: $neutral-800;
  }

  @media (min-width: $screen-lg) {
    padding: 0px 80px 40px 80px;

    .project-search-form {
      grid-template-columns: 3fr 2fr;
      grid-column-gap: 24px;
    }

    .select-container {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 24px;
    }
  }

  @media (min-width: $screen-xl) {
    .project-search-form {
      grid-template-columns: 2.06fr 1fr;
      grid-column-gap: 24px;
    }
  }
}

.projects-main {
  background-color: $secondary-50;
  padding-bottom: 50px;
  border-bottom: 1px solid $neutral-900;
}

.projects-container-margins {
  margin: 0 80px;

  @media (max-width: $screen-md) {
    margin: 0 40px;
  }
}

.projects-nav-light {
  color: $neutral-900;
  border: 1px solid $primary-500;
  border-left: none;
  border-right: none;
  margin: 0 80px;

  @media (max-width: $screen-md) {
    margin: 0 40px;
  }
}

.projects-nav {
  justify-content: left;
  padding: 20px;
}

.projects-nav a {
  @include nav-semi-bold;
  color: $primary-500;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  padding: 5px 0;

  @media (max-width: $screen-lg) {
    font-size: 16px;
  }

  @media (max-width: $screen-md) {
    display: block;
    font-size: 20px;
    width: 100%;
  }
}

.projects-container-margins h3 {
  @include h4-semi-bold;
  padding: 40px 0;
  margin-top: 40px;

  @media (max-width: $screen-md) {
    @include h5-semi-bold;
  }
}

.projects-container-margins h3:first-child {
  margin-top: 0;
}

.projects-container-margins h4 {
  @include h5-semi-bold;
  padding: 24px 0;

  @media (max-width: $screen-md) {
    font-size: 16px;
    font-weight: 700;
  }
}

.projects-question,
details {
  border-top: 1px solid $neutral-400;
  padding: 0 20px;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

.projects-question a,
details h4 {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.projects-question a::after,
details h4::after {
  content: "";
  flex-shrink: 0;
  margin-left: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 6.5V12.5M12 12.5V18.5M12 12.5H18M12 12.5H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  display: block;
  background-size: 24px;
  background-position: center;
  height: 44px;
  width: 44px;
  padding: 10px;
}

.projects-question.question-open a::after,
details[open] h4::after {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 12H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.question-text,
details p {
  @include p3-regular;
  max-width: 1060px;
  color: $neutral-900;
  margin: 0;
  padding-top: 0;
  padding-bottom: 20px;

  @media (max-width: $screen-md) {
    color: $neutral-800;
    @include p2-regular;
  }
}

.question-open .question-text {
  display: block;
}

/* ProjectCard Selectors */
.project-cards-container {
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 32px;

  @media (min-width: $screen-md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $screen-lg) {
    padding: 0 80px;
  }

  @media (min-width: $screen-xxl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project-card-container {
  display: flex;
  flex-direction: column;
  color: $neutral-900;
  padding: 0px;
  min-width: 300px;
}

.project-card-img-container {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
}

.project-card-img-status {
  @include h6-semi-bold;
  color: $neutral-50;
  position: relative;
  text-align: center;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 85%;
  left: 8%;
  z-index: 1000;
}

.project-card-img {
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.project-card-tags {
  display: flex;
  gap: 5px;
  margin: 24px 0 16px 0;
}

.project-card-tag {
  @include h6-semi-bold;
  color: $primary-100;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $primary-500;
}

.project-card-heading {
  @include h4-bold;
  margin: 0;
}

.project-card-description-container {
  margin-top: 8px;
  height: 60px;
  overflow: hidden;
}

.project-card-description {
  @include p1-regular;
}

.project-card-last-updated {
  @include p1-regular;
  color: $neutral-700;
  margin-top: 16px;
}

.project-card-buttons-container {
  margin-top: 16px;
  width: fit-content;
  display: flex;
  gap: 20px;
}

.project-card-button-dark {
  color: $secondary-50;
  background-color: $primary-500;
  cursor: pointer;

  border: solid $primary-500 1px;
  border-radius: 6px;
  padding: 16px 24px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;

  @include button-regular;
  @include button-transition($vivid-blue, white);
}

.project-card-button-light {
  color: $primary-500;
  background-color: transparent;
  cursor: pointer;
  border: solid $primary-500 1px;
  border-radius: 6px;
  padding: 16px 24px;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;

  @include button-regular;
  @include dark-button-transition;
}

.project-heading-section {
  color: $neutral-300;
  @include h1-section;
  margin: 0;
}

.project-heading-section-alt {
  color: $secondary-500;
}

.project-card-loading {
  background: #e5e5e5;
  color: #e5e5e5;
  border: #e5e5e5;
  display: inline;
}

.project-cards-load-status-container {
  padding: 0 24px;
  text-align: center;

  @media (min-width: $screen-lg) {
      padding: 0 80px;
    }
}

.project-cards-load-status-text {
  color: $neutral-900;
  @include p3-regular;

  @media (max-width: $screen-sm) {
    @include p2-regular;
  }
}

// SingleProject //

.project-section-dark {
  padding: 0 24px;
}

.project-paragraph {
  @include p3-regular;
  color: $neutral-50;
}

.project-main-heading-container {
  position: relative;
  padding-bottom: 12px;
}

.projects-main-heading-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid white;
}

.project-button-container {
  display: flex;
  gap: 16px;
}

.project-info-line-top-2 {
  height: 1px;
  border: none;
  background: $neutral-400;
}

// SingleProjectsSectionStart //

.project-section-start {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.project-main-image {
  width: 100%;
}

.project-main-info-container {
  margin-top: 32px;
}

.project-type {
  @include h1-section;
  color: $secondary-500;
}

// .project-main-heading-container {
//   position: relative;
//   padding-bottom: 12px;
// }

// .projects-main-heading-underline::after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   height: 1px;
//   width: 43px;
//   border-bottom: 4px solid white;
// }

.project-section-start .project-main-heading-container {
  margin-top: 12px;
}

.project-heading {
  @include h1-semi-bold;
  color: $neutral-50;
}

.project-status-label {
  display: inline-block;
  border: 1px solid $secondary-200;
  color: $secondary-200;
  margin-top: 32px;
  padding: 5px 8px;
}

.project-section-start .project-paragraph {
  margin-top: 32px;
}

.project-section-start .project-button-container {
  // display: flex;
  // gap: 16px;
  margin-top: 32px;
}

.project-button {
  color: $secondary-50;
  background-color: transparent;
  cursor: pointer;

  border: solid $secondary-500 1px;
  border-radius: 6px;
  padding: 16px 24px;
  text-decoration: none;
  width: fit-content;

  @include button-regular;
  @include dark-button-transition;
}

.project-button-alt {
  /* alternative colors */
  background-color: $secondary-500;
  color: $neutral-900;

  @include light-button-transition;
}

// SingleProjectsLinks

.project-link-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $secondary-50;
  border-bottom: 1px solid $secondary-50;
  padding: 16px 0;
  margin-top: 24px;
}

.project-paragraph-alt {
  @include p3-regular;
  color: $neutral-200;
  // margin-top: 16px;
}

.project-heading-alt {
  @include nav-semi-bold;
  color: $secondary-500;
  margin-top: 24px;
  text-decoration: none;
}

.project-heading-alt:first-child {
  margin-top: 0;
}

// SingleProjectsBrief //

.project-brief-container {
  margin-top: 24px;
  padding-top: 48px;
}

.project-brief-info-line-top-first {
  height: 1px;
  border: none;
  background: $neutral-400;
  margin-top: 40px;
}

.project-brief-info-line-top {
  height: 1px;
  border: none;
  background: $neutral-400;
  margin-top: 24px;
}

.project-info-container {
  // border-top: 1px solid $neutral-400;
  // margin-top: 24px;
  padding-top: 8px;
}

.project-info-container-first {
  // border-top: 1px solid $neutral-400;
  // margin-top: 40px;
  padding-top: 8px;
}

.project-info-label {
  @include nav-semi-bold;
  color: $neutral-200;
}

.project-brief-status {
  @include subheading-regular;
  color: $neutral-200;
  margin-top: 16px;
}

.project-brief-container .project-paragraph-alt {
  // @include p3-regular;
  // color: $neutral-200;
  margin-top: 16px;
}

.project-info-label-channels, .project-brief-paragraph-communications {
  margin-top: 12px;
}

// SingleProjectsScreenshots

.project-screenshots-container {
  margin-top: 20px;
  padding: 24px 0 42px 0;
}

.project-screenshots-container .project-paragraph {
  margin-top: 10px;
}

.project-screenshot {
  width: 100%;
  margin-top: 10px;
}

// SingleProjectsRoadmap

.project-roadmap-container {
  margin-top: 20px;
  padding: 48px 0 20px 0;
}

.project-roadmap-container .project-paragraph {
  margin-top: 10px;
}

.project-info-container-alt {
  margin-top: 44px;
}

.project-roadmap-info-container {
  display: flex;
}

.project-roadmap-info-label {
  @include p2-bold;
  color: $neutral-200;
}

.project-info-alt {
  @include p1-regular;
  color: $neutral-300;
}

.project-roadmap-icon {
  margin: 10px 10px 10px 9px;
}

.project-roadmap-icon-line {
  margin: 10px 0 10px 24px;
}

.project-info-text-container {
  align-self: flex-end;
}

.project-roadmap-info-label-two {
  @include h5-semi-bold;
  color: $secondary-50;
  margin-top: 20px;
}

.project-roadmap-info-line-top {
  height: 1px;
  border: none;
  background: $neutral-400;
  margin-top: 10px;
}

.project-roadmap-container .project-paragraph-alt {
  margin-top: 5px;
}

// SingleProjectsContribute

.project-contribute-container {
  padding: 24px 0 32px 0;
}

.project-contribute-container .project-paragraph {
  margin-top: 32px;
}

.project-contribute-container .project-info-label {
  margin-top: 32px;
}

.project-contribute-container .project-button-container {
  margin-top: 16px;
}

// SingleProjectsDeveloper

.project-developer-container {
  padding-top: 20px;
}

.project-developer-paragraph {
  @include subheading-regular;
  color: $neutral-50;
  margin: 20px 0;
}