<!--
Default application footer.
-->
<footer>
  <div class="footer-section-left">
    Open Sacramento
  </div>
  <div class="footer-section-right">
    <ul class="inline-flex">
      <li><a href="/codeofconduct">Code of Conduct</a></li>
      <li><a href="https://www.facebook.com/code4sac"><i class="fa fa-facebook" target="_blank"></i></a></li>
      <li><a href="https://twitter.com/code4sac"><i class="fa fa-twitter" target="_blank"></i></a></li>
      <li><a href="https://github.com/code4sac"><i class="fa fa-github" target="_blank"></i></a></li>
      <li><a href="http://www.meetup.com/code4sac/"><i class="fa fa-calendar" target="_blank"></i></a></li>
    </ul>
  </div>
</footer>