<!--
Default application navigation bar.
-->
<header class="w-full">
  <div class="nav-main-toolbar">
    <div class="container mx-auto flex items-end flex-nowrap">
      <div class="nav-left-container">
        <a class="nav-left-section" href="home">
          <img src="/img/opensac_black_logo_01.png" alt="Open Sacramento logo" height="100" width="200">
        </a>
      </div>

      <nav class="nav-middle-container" role="navigation">
        <ul>
          <li class="nav-middle-section">
            <a href="home">Home</a>
            <img class="" src="/img/line_01.png" alt="Selected link underline" height="2" width="57">
          <li/>
          <li class="nav-middle-section">
            <a href="about">About</a>
            <img class="hidden" src="/img/line_01.png" alt="Selected link underline" height="2" width="57">
          </li>
          <li class="nav-middle-section">
            <a href="contact">Contact</a>
            <img class="hidden" src="/img/line_01.png" alt="Selected link underline" height="2" width="57">
          </li>
          <li class="nav-middle-section">
            <a href="">Donate</a>
            <img class="hidden" src="/img/line_01.png" alt="Selected link underline" height="2" width="57">
          </li>
        </ul>
      </nav>

      <div class="nav-right-container">
        <div class="nav-right-section">
          <a class="nav-nested-parent-link">Get Involved</a>
          <img class="inline ml-1" src="/img/chevron-down.png" width="16" height="16">
        </div>
      </div>
    </div>
  </div>

  <div class="hidden nav-toolbar-extended-mobile">
    <div class="container mx-auto">
      <a href="projects">Projects</a>
      <a href="project-pitch">Pitch a Project</a>
      <a href="meetup">Meetup</a>
      <a href="faqs">FAQs</a>
    </div>
  </div>

  <div class="hidden nav-toolbar-extended-desktop">
    <div class="container mx-auto">
      <div class="nav-extended-desktop-left-container">
        <div class="nav-extended-desktop-left-section">
          Get started today and volunteer with us to drive positive change through technology, making a meaningful
          impact in your community!
          <a class="nav-extended-desktop-button" href="projects">Get Started</a>
        </div>
        <div class="nav-extended-desktop-left-section">
          Explore our projects and discover how you can contribute your skills to drive innovation and create positive
          change.
          <a class="nav-extended-desktop-button" href="projects">See Projects</a>
        </div>
        <div class="nav-extended-desktop-left-section">
          Explore our projects and discover how you can contribute your skills to drive innovation and create positive
          change.
          <a class="nav-extended-desktop-button" href="project-pitch">Pitch a Project</a>
        </div>
      </div>
      <div class="nav-extended-desktop-right-container">
        <div class="nav-extended-desktop-right-section">
          Join us for our weekly meetings on <a href="meetup">meetup</a>.
        </div>
        <div class="nav-extended-desktop-right-section">
          For any questions, visit our <a href="faqs">FAQs</a>.
        </div>
      </div>
    </div>
  </div>
</header>