@import "../abstracts/variables.scss";
@import "../abstracts/mixins";

/*
Navigation bar extended drop down menu.
*/

.dropdown-menu {
  max-width: 1320px;
  width: 100%;
}

.navbar-extended-desktop-section-item {
  max-width: 257px;
  display: block;
}

.navbar-extended-button {
  display: block;
  width: fit-content;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 16px;
  background-color: $secondary-300 !important;
  border: 1px solid $secondary-500 !important;
  border-radius: 6px;
  padding: 8px 12px !important;
  cursor: pointer;
}

.dropdown-menu .navbar-extended-text-wrapper-2 {
  @include h4-semi-bold;
  color: $neutral-900;
  position: relative;
  white-space: nowrap;
  width: 220px;
}

.text-wrapper-3 {
  cursor: pointer;
  text-decoration: none;
  color: $primary-900;
  @include p-footer-bold;
  border-bottom: 1px solid $primary-900;
}

.dropdown-menu .navbar-extended-desktop-section-content {
  @include p1-regular;
  color: $neutral-900;
  padding: 20px 0;
}

.dropdown-menu .section-content-2 {
  @include p-footer;
  color: $neutral-900;
  padding-top: 20px;
}

.navbar-extended-mobile-section {
  padding: 16px;
}

.navbar-extended-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-extended-mobile-content ul::before {
  content: ''
}

.navbar-extended-mobile-section li.active a {
  color: $secondary-50;
  background: $neutral-900;
}

.navbar-extended-desktop-container {
  padding: 40px 0;
  display: none;

  a {
    color: $neutral-900 !important;
  }
}

.navbar-mobile-content-02 {
  display: none !important;
}

.navbar-extended-mobile-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.navbar-extended-mobile-content-button-01 {
  background: transparent url("/img/navbar/menu_chevron_right.png") no-repeat center right;
  padding: 0 18px 0 0;
  color: $secondary-500;
  cursor: pointer;
}

.navbar-extended-mobile-content-button-02 {
  background: transparent url("/img/navbar/menu_chevron_left.png") no-repeat center left;
  padding: 0 0 0 17px;
  color: $secondary-500;
  cursor: pointer;
}

.mobile-nav-link {
  flex-basis: 100%;
  @include h5-semi-bold;
}

.navbar-extended-mobile-container {
  height: 100%;
  color: $secondary-50 !important;
  background: $neutral-900 !important;
  padding: 16px;
}

@media (min-width: $screen-lg) {
  .navbar-extended-desktop-section-item {
    max-width: max-content;
    padding: 0 20px;
  }
  .navbar-extended-desktop-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: start;
    grid-gap: 10px;
  }

  .navbar-extended-mobile-container {
    display: none;
  }
}

@media (min-width: $screen-xxl) {
  .navbar-extended-desktop-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .navbar-extended-desktop-section-item {
    max-width: 257px;
    display: block;
  }
}


