@import "../abstracts/variables";
footer {
  height: fit-content;
  background-color: $secondary-50;
}

.footerContainerTop {
  padding: 40px 80px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.footerMessage {
  padding: 10px 0;
  width: 23%;
}

.footerMessageHeader {
  font-family: "Inter", sans-serif;
  font-size: 39px;
  font-weight: 600;
  line-height: 47px;
  margin: 0;
  padding: 10px 0;
}

.footerMessageParagraph {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
}

.footerActionLinks {
  width: 23%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 30px;
}

.footerActionLinksItem {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.footerActionLinksAnchor {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  border-bottom: 1px solid black;
}

.footerSocialMedia {
  width: 23%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}

.footerSocialMediaLink {
  text-decoration: none;
  color: black;
}

.footerSocialMediaIcon {
  width: 46px;
  height: 46px;
}

.footerBottomContainer {
  border-top: solid #ebeae5 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 80px;
}

.footerBottomTitle {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: auto 0;
}

.footerBottomLinksContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footerBottomLink {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}