@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations.scss";

/*
Navigation bar.
It is made up of three sections.
- Left: Logo
- Middle: Links with animated underline
- Right: Dropdown link that displays extended section
 */

// Background behind the navbar. It requires the navbar to be transparent and offset page content. By default, this is not shown; it is overridden by the navbar-toolbar background color. 
.navbar-background {
  background: $landing-background-color;

  // Add margin to first element after navbar. This offsets the page content.
  + * {
    margin-top: $toolbar-height;
  }
}

.navbar-toolbar {
  @include h5-semi-bold;
  width: 100%;
  height: $toolbar-height;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 4;
  display: flex;
  flex-wrap: wrap;
  color: $secondary-50;
  background: $navbar-color;
  box-shadow: 0 4px 4px 0 rgba($navbar-color, 0.25);

  a,
  .navbar-toolbar a:visited,
  .navbar-toolbar a:link {
    color: $secondary-50;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
}

.navbar-toolbar-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-toolbar-content {
  max-width: 1320px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.navbar-link-selected {
  font-weight: bold;
}

.navbar-left-container {
  display: inline-flex;
  padding: 10px 16px;
}

.navbar-left-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navbar-middle-container {
  display: inline-flex;
  padding: 10px 0;
}

.navbar-middle-section {
  display: none;
  position: relative;
  list-style-type: none;
  column-gap: 50px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $screen-lg) {
    display: inline-flex;
  }
}

.one ~ .navbar-underline {
  margin-left: -86%;
  display: block;
}

.two ~ .navbar-underline {
  margin-left: -34%;
  display: block;
}

.three ~ .navbar-underline {
  margin-left: 23%;
  display: block;
}

.navbar-underline {
  display: none;
  position: absolute;
  top: 120%;
  height: 2px;
  width: 80px;
  margin: 0;
  background: $secondary-50;
  border: none;
  transition: .3s ease-in-out;
  float: left;
}

.navbar-right-container {
  display: inline-flex;
  height: $toolbar-height;
  padding: 10px 16px;
}

.navbar-right-section {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: url("/img/navbar/menu_hamburger_light.svg") no-repeat center right;

  @media screen and (min-width: $screen-lg) {
    background: transparent;
  }
}

.navbar-extended-button {
  border: none;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  background: transparent;
  color: transparent;
}


.navbar-nested-parent-link {
  background: transparent;

  button {
    background-color: $navbar-color;
  }
}

.navbar-toolbar-extended {
  margin: 0;
  padding: 0;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba($navbar-color, 0.25);
}

.navbar-extended-parent-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;

  a,
  a:visited,
  a:link,
  a:active {
    color: $secondary-500;
  }
}

.navbar-extend-button-text {
  visibility: hidden;
}

.navbar-extend-background-active {
  .navbar-right-section {
    background: url("/img/navbar/menu_x.png") no-repeat center right;
  }

  @media screen and (min-width: $screen-lg) {
    background: $secondary-50;
    color: $neutral-900;
    .navbar-right-section {
      background: inherit;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .navbar-toolbar-extended {
    background-color: $secondary-50;
    border-color: #ebeae5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .navbar-extend-button-text {
    visibility: visible;
    color: inherit;
    display: inline;
  }

  .navbar-toggle-extend-button {
    background: transparent url("/img/navbar/chevron_down.png") no-repeat center right;
    padding: 0 20px 0 0;
    color: $secondary-500;
  }

  .navbar-toggle-extend-button-extended {
    background: transparent url("/img/navbar/chevron_up.png") no-repeat center right;
    padding: 0 20px 0 0;
    color: $neutral-900;
  }
}
