@import "../abstracts/variables";
/*
Navigation bar.
It is made up of three sections.
- Left: Logo
- Middle: Links with animated underline
- Right: Dropdown link that displays extended section
 */
.nav-main-toolbar {
  color: $secondary-50;
  background: $neutral-900;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 4;
  height: 84px;
  justify-content: space-between;
  align-items: center;
}

.nav-left-container {
  margin: 1em;
  max-width: 400px;
  white-space: nowrap;
  flex: 0 1 auto;
}

.nav-left-section {
  text-align: center;
}

.nav-middle-section :hover {
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.nav-middle-container {
  margin: 1em;
  align-content: center;
  justify-content: center;
  display: flex;
  flex: 1 0 auto;
}

.nav-middle-section {
  margin: 0 4em;
  //text-underline-offset: 1rem;
  //z-index: 4;
  // TODO: Hide overflow
}

.nav-right-container {
  white-space: nowrap;
  align-content: center;
  justify-content: center;
  margin: 0 1em 4em auto;
  flex: 1 1 0;
}

.nav-right-section {
  display: flex;
}

.nav-nested-parent-link {
  color: $secondary-500;
}

.nav-extended-desktop-button {
  display: block;
}

.nav-toolbar-extended-mobile {

}

.nav-toolbar-extended-desktop {
  background: #EBEAE5;
}

.nav-extended-desktop-left-container {

}

.nav-extended-desktop-left-section {

}

.nav-extended-desktop-right-container {

}

.nav-extended-desktop-right-section {

}