@import "../abstracts/variables";
/*
Navigation bar.
It is made up of three sections.
- Left: Logo
- Middle: Links with animated underline
- Right: Dropdown link that displays extended section
 */
.navbar-toolbar {
  //position: absolute;
  height: 84px;
  //z-index: 4;
  color: $secondary-50;
  background: $neutral-900;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: green;
}

.navbar-toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left-container {
  display: inline-flex;
}

.navbar-left-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navbar-middle-container {
  display: inline-flex;
}

.navbar-middle-section {
  display: inline-flex;
  list-style: none;
  margin: 20px;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.navbar-middle-section :hover {
}

.navbar-right-container {
  display: inline-flex;
}

.navbar-right-section {
  display: inline-flex;
}

.navbar-nested-parent-link {

}

.navbar-extended-desktop-button {
}

.navbar-toolbar-extended-mobile {
}

.navbar-toolbar-extended-desktop {
}

.navbar-extended-desktop-left-container {

}

.navbar-extended-desktop-left-section {

}

.navbar-extended-desktop-right-container {

}

.navbar-extended-desktop-right-section {

}