<footer>
  <div class="footerContainerTop">
      <div class="footerMessage">
          <h2 class="footerMessageHeader">Get Involved.</h2>
          <p class="footerMessageParagraph">Open Sacramento is a tax-deductible civic-tech community dedicated to using technology and open data for positive civic change in Sacramento.</p>
      </div>

      <div class="footerActionLinks">
          <p class="footerActionLinksItem">
              Join us for our weekly meetings on <a href="/" class="footerActionLinksAnchor">meetup.</a>
          </p>
          <p class="footerActionLinksItem">
              See our <a href="/" class="footerActionLinksAnchor">projects.</a>
          </p>
          <p class="footerActionLinksItem">
              For any questions, visit our <a href="/" class="footerActionLinksAnchor">FAQs.</a>
          </p>
      </div>

      <div class="footerSocialMedia">
          <a href="/" class="footerSocialMediaLink">
              <img src="/images/socialmedia/facebook.svg" alt="Facebook" class="footerSocialMediaIcon">
          </a>
          <a href="/" class="footerSocialMediaLink">
              <img src="/images/socialmedia/twitter.svg" alt="X" class="footerSocialMediaIcon">
          </a>
          <a href="/" class="footerSocialMediaLink">
              <img src="/images/socialmedia/youtube.svg" alt="Youtube" class="footerSocialMediaIcon">
          </a>
      </div>
  </div>

  <div class="footerBottomContainer">
      <div class="footerBottomTitle">Open Sacramento</div>
      <div class="footerBottomLinksContainer">
          <a href="/" class="footerBottomLink">get started</a>
          <a href="/" class="footerBottomLink">our team</a>
          <a href="/" class="footerBottomLink">code of conduct</a>
      </div>
  </div>
</footer>

</body>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="js/jquery-1.11.1.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- <script src="js/bootstrap.js"></script> -->

<!-- MailChimp Ajax Magic
================================================== -->
<script src="/js/jquery.ajaxchimp.js"></script>
<script>
  $('#mc-form').ajaxChimp({
    url: 'https://code4sac.us3.list-manage.com/subscribe/post?u=3938e5bd1ff827e6f3903ca84&amp;id=2d40fa1527'
  });
</script>
