@import "../abstracts/variables";

@mixin dark-button-transition {
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: $secondary-500;
        color: $neutral-900;
    }
}

@mixin light-button-transition {
    transition: padding 0.3s, margin 0.3s;

    &:hover {
        padding: 19px 27px;
        margin: -3px;
    }
}