//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap');

/*
App theme.
 */
:root {
  --secondary-50: #FFFCF5;
  --secondary-500: #FFC107;
  --neutral-900: #060718;
}

* {
  font-family: 'Inter', 'Arial', sans-serif;
  background: black;
}

.container {

}
/*
Home page
 */
.home-dark {

}

.heading-dual-size {

}

.home-light {

}

.heading-special {

}

.heading-med {

}

.home-numbered-highlight-section {

}

.heading-small {
  background: #121211;
}